@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
:global(html) {
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Cairo', sans-serif;
}
* {
	font-family: 'Cairo', sans-serif;
	margin: 0;
	padding: 0;
}

:global(body) {
	color: #fff;
	font-family: 'Cairo', sans-serif;
	margin: 0;
	padding: 0;
}

:global(a) {
	color: #fff;
	text-decoration: none;
}

:global(button) {
	cursor: pointer;
}
